body {
    color: black;
    background: rgb(242, 214, 252);
}

header{
    border-bottom: solid 2px rgb(211, 127, 193); 
    font-size: 28PX;
    color: rgb(211, 127, 193);]
}

section {
    background:rgb(198, 126, 247);
    padding-bottom: 80px;
    padding-top: 80px;

}