body {
    color: black;
    background: rgb(242, 214, 252);
}

header{
    border-bottom: solid 2px rgb(211, 127, 193); 
    font-size: 28PX;
    color: rgb(211, 127, 193);]
}

section {
    background: color rgb(51, 40, 148);
    e
}